/****** General ***********/

body {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
    --black-color: #000;
}

.main-container {
    padding: 0;
    max-width: 1440px;
    box-sizing: border-box;
    margin: 0 auto;
}

.fa-solid {
    color: var(--main-color);
}

.fa-magnifying-glass {
    color: #FFFFFF;
    display: none;
}

header img {
    width: 61.09px;
    height: 19px;
    margin-right: auto;
    padding: 10px;
}

.list-head {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

nav a {
    padding: 15px;
    text-decoration: none;
    font-weight: 400;
    color: var(--black-color);
    border-top: 2px solid;
    border-color: transparent;
}

nav a:hover,
nav a.active {
    border-color: var(--main-color);
    color: var(--main-color);
}

.border-li {
    border-top: 2px solid var(--main-color);
}

.list-head .colorBlack {
    color: var(--black-color);
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.bg-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.after-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


/* bar-search */

main form {
    display: flex;
}

main form .fa {
    position: relative;
    font-size: 20px;
    left: -35px;
    top: 20px;
    color: var(--black-color);
}

main form .submit2 {
    display: none;
    background-color: #FFFFFF;
}

main form input[type="text"] {
    padding: 20px 10px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: var(--main-bg-color);
    width: 40px;
}

main form input[type="search"] {
    padding: 20px 10px;
    border: none;
    width: 200px;
    font-weight: 700;
    color: var(--black-color);
}

main form .submit {
    border: none;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 18px;
    background-color: var(--main-color);
    color: #FFFFFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 150px;
    cursor: pointer;
}


/******filters *****/

main .list-filtres {
    margin: 20px;
    font-weight: 700;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

main .list-filtres div {
    font-weight: 700;
    border: 3px solid var(--main-bg-color);
    padding: 15px 30px;
    border-radius: 25px;
    margin: 10px;
}

.background-button {
    background-color: var(--filter-bg-color);
}

main .list-filtres div input {
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
    font-weight: bold;
}

main .list-filtres div:hover {
    background-color: var(--filter-bg-color);
    cursor: pointer;
}

.hover-filter:hover {
    background-color: white;
}

.li-bg-color {
    background-color: var(--filter-bg-color);
}

.fa-circle-info {
    color: var(--main-color);
}


/*populaires*/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}


/****** Hebergements ***********/

.hebergements {
    width: 65%;
    justify-content: space-around;
}

.hebergement-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.card-hebere {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 27%;
    height: 215px;
    align-items: center;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    display: inline-block;
}

.card-hebere img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements .card-content {
    flex-direction: column;
    justify-content: space-between;
}

.card-hebere .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.card-hebere .card-subtitle {
    margin: 0;
}

.card-hebere .card-rating {
    margin-bottom: 5px;
}


/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/*************************actualités*****************************/

.actualités {
    height: 550px;
    width: 100%;
    padding: 0;
}

.actualites-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card-actuality img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.card-actuality {
    justify-content: center;
    width: 23%;
    border-radius: 15px;
    box-shadow: 5px 5px var(--main-bg-color);
}

.card-actuality div:nth-child(2) {
    padding: 15px;
}

.card-actuality h4 {
    margin: 0;
    padding: 0;
}


/****************footer**********************/

footer {
    width: 100%;
    background-color: var(--main-bg-color);
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    justify-content: space-between;
}

footer div {
    width: 33%;
}

footer div h3 {
    margin: 0;
    padding: 0;
}

footer div ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

footer div ul li {
    margin-top: 10px;
}


/* Le code ci-dessous correspond à la version responsive uniquement */


/****** Media queries ***********/


/* Medium devices (tablets, less/equal than 1024px) */

@media screen and (min-width:768px) and (max-width: 1024px) {
    .main-container {
        padding: 0;
        max-width: 100%;
        box-sizing: border-box;
        margin: 2.5%;
    }
    main .list-filtres {
        width: 100%;
    }
    main .list-filtres div input {
        margin-left: -2px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
        margin: 0;
    }
    .hebergements {
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .hebergement-grid {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 20px;
    }
    .hebergements .card-hebere {
        width: 29%;
        height: 215px;
    }
    .nowrap {
        margin-top: auto;
        margin-right: auto;
    }
    .populaires {
        width: 100%;
        height: 300px;
        margin-top: 50px;
    }
    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .populaires-cards .card {
        width: 30%;
    }
    .card-title {
        font-size: 14px;
    }
    .card-subtitle {
        font-size: 13px;
    }
    .actualités {
        width: 100%;
        height: 325px;
    }
    .card-actuality {
        width: 23%;
        height: 250px;
        font-size: 11px;
        padding: 3px;
        box-shadow: 3px 3px var(--main-bg-color);
    }
    .actualites-grid {
        justify-content: space-between;
    }
    .card-actuality img {
        width: 100%;
        height: 200px;
        padding: 2.5%;
    }
    footer {
        background-color: var(--main-bg-color);
        width: 100%;
        height: 183px;
    }
    footer div li {
        margin-right: 60px;
    }
}


/* Small devices (phones, less than 768px) */

@media screen and (max-width: 767px) {
    /* ... */
    .main-container {
        padding: 0;
        box-sizing: border-box;
    }
    header img {
        padding-bottom: 20px;
        margin-left: 135px;
        position: relative;
    }
    .border-li {
        border-bottom: 2px solid var(--main-color);
        border-top: 0px;
        border-bottom-width: 100%;
    }
    .border-li-act {
        border-bottom: 2px solid var(--main-bg-color);
    }
    .nav-a {
        flex-basis: 100%;
        text-align: center;
        padding-left: 20px;
        position: relative;
    }
    .nav-a a {
        flex-basis: 50%;
    }
    main form input[type="search"] {
        width: 50%;
    }
    main .list-filtres {
        margin: 0;
    }
    main .list-filtres div {
        width: 35%;
        padding: 15px;
        margin: 0;
    }
    main .list-filtres h2 {
        width: 100%;
    }
    main form .submit {
        display: none;
    }
    main form .submit2 {
        width: 49px;
        background-color: var(--main-color);
        color: #FFFFFF;
        border-radius: 15px;
        border: none;
        display: block;
    }
    .fa-magnifying-glass {
        color: #FFFFFF;
        position: relative;
        display: block;
        left: -35px;
        bottom: -18px;
        font-size: 22px;
    }
    .background-button {
        background-color: #FFFFFF;
    }
    .background-button2 {
        background-color: var(--filter-bg-color);
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        border-color: var(--main-color);
        margin: 0;
        padding: 5px;
    }
    .hebergements {
        background-color: #FFFFFF !important;
        width: 100%;
    }
    .card-hebere {
        width: 100%;
        height: 230px;
        box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
        margin-left: -4%;
        margin-right: -4%;
    }
    .card-hebere img {
        width: 100%;
        height: 140px;
        object-fit: fill;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        display: flex;
    }
    .card-title {
        font-size: 11px;
    }
    .card-subtitle {
        font-size: 12px;
    }
    .populaires {
        width: 100%;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
    }
    .populaires-cards {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    .populaires-cards .card {
        height: 138px;
        display: flex;
        object-fit: cover;
    }
    .actualités {
        width: 100%;
    }
    .actualités h3 {
        text-align: center;
    }
    .card-actuality {
        width: 88%;
        height: 225px;
        font-size: 16px;
        justify-content: center;
        margin: 15px;
    }
    .card-actuality img {
        height: 160px;
        object-fit: cover;
        width: 100%;
    }
    footer {
        background-color: var(--main-bg-color);
        width: 100%;
        margin-right: 0;
        margin-top: 550px;
        display: flex;
        flex-direction: column;
    }
    footer div {
        list-style-type: none;
        justify-content: space-between;
        width: 100%;
    }
    footer div li {
        margin-right: 0;
        margin-left: 0;
        padding: 10px;
    }
}