/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
   
 

}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}
header img {
   
    width: 61.09px;
    height: 19px;
    left: 30px;
    top: 50px;

}  
header ul li{

    text-decoration: none;
    list-style-type: none;
    display:inline-block;
    align-items: right;

} 




.list-head{
    display: inline-block;
}

body {
    display: flex;
    justify-content: center;
 
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.bg-title{


    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}
.after-title{

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}


.search-bar{
 
    
}

main form {
    display: flex;

}
 main form .fa {

    position: relative;
    font-size: 20px;

    left: -35px;
    top:20px;
    color: #000000;
  

 }

main form input[type="text"]{

    padding: 20px 10px;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
    background-color:var(--main-bg-color);
    width: 40px;



}

main form input[type="search"]{

    padding: 20px 10px;
    border: none;
    width: 200px;
    font-weight: 700;
    color: #000000;
 
    

}

main form input[type="submit"]{
    border: none;
    padding: 20px 10px;
    font-weight: 700;
    font-size: 18px;

    background-color:var(--main-color);
    color: #FFFFFF;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 150px;
    cursor: pointer;

}

main .list-filtres li{

    display: inline-block;
    margin: 30px;
    font-weight: 700;
    
} 

main .list-filtres li input[type="button"]{

    font-weight: 700;
    border:1px solid var(--main-bg-color);
    background-color: white;
    padding: 15px 30px;
    border-radius: 20px;
}


.li-bg-color{

    background-color: var(--filter-bg-color);
}







/*populaires*/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}




.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    
}

.card-hebere{
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    width: 230px;
    height: 207.25px;
    align-items: center;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    margin: 5px;
    display: flex;
    display: inline-block;
    justify-content: space-around;
    
}
 
.card-hebere img {

    width: 230px;
    height: 124px;
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
   
}

.card-hebere .card-title{
    margin-top: 10px;
    margin-bottom: 4px;
}
.card-hebere .card-subtitle{
    margin: 0;
}
.card-hebere .card-rating {
    margin-bottom: 5px;
}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 134px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/*************************actualités*****************************/

.card-actuality img{

    width: 297px;
    height: 380px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
   

}

.card-actuality {
    display: inline-block;
    margin: 15px;
    justify-content: center;
 

    width: 297px;
    height: 420px;
    border-radius: 15px;
    box-shadow: 5px 5px var(--main-bg-color);
    padding-bottom: 30px;

}

/****************footer**********************/


.footer{

    width: 1340px;
    height: 163px;
    background-color: var(--main-bg-color);
}

footer div {

    display: inline-block;
    


}

footer div li{
        list-style-type: none;
        justify-content: space-between;
        margin-right: 150px;
      
}



/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */


    body {
        display: flex;
     
     
    }
      


    .hebergements-and-populaires {
        flex-direction: column-reverse;

    }

    .hebergements {
        width: 375px;
    }

    .populaires {
        width: 375px;
        height: 650px;
        margin-bottom: 50px;
        justify-content: center;
    }

    .populaires-cards {
       
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }
    
    .populaires-cards .card {
        width: 330px;
        height: 144px;
        display: flex;
    
    }



    footer div {

        display: block;
        
    
    
    }

    footer{
        padding: 30px;
        gap: 50px;

        width: 375px;
        height: 461px;

      
        background-color: var(--main-bg-color);
    }

    footer div li{
        list-style-type: none;
        justify-content: space-between;
     
      
}


}